<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Productos</title>
</head>
<body>
  <h1>Productos</h1>
  <ul>
    {{#each products}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <a href="/products/{{this._id}}">Ver más</a>
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
      </li>
    {{/each}}
  </ul>

  <div>
    <!-- Enlace para la página anterior -->
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página Anterior</a>
    {{/if}}

    <!-- Mostrar los números de página -->
    <div>
      {{#each pages}}
        <a href="/products?page={{this}}&limit={{limit}}&sort={{sort}}&query={{query}}">{{this}}</a>
      {{/each}}
    </div>

    <!-- Mostrar el número de página actual y el total -->
    <span>Página {{page}} de {{totalPages}}</span>

    <!-- Enlace para la página siguiente -->
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}">Página Siguiente</a>
    {{/if}}
  </div>

  <script>
    function addToCart(productId) {
      fetch('/api/carts', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: productId,
          quantity: 1
        })
      }).then(response => response.json())
        .then(data => {
          console.log('Producto agregado al carrito:', data);
        })
        .catch(error => console.error('Error:', error));
    }
  </script>
</body>
</html>
